<div class="mt-4">
  <div class="row">
    {{#each courses}}
      <div class="col-sm-6 col-lg-3">
        <div class="card card-item m-2">
          <a href="/courses/{{this.slug}}">
            <img src="{{this.img}}" class="card-img-top" alt="..." />
          </a>
          <div class="card-body" style="height:200px">
            <a href="/courses/{{this.slug}}">
              <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="card-text" style="height:90px">{{this.description}}</p>
            <a href="/courses/{{this.slug}}" class="btn btn-primary">Course
              details</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>