<form   class='m-4' name="container-form" method="POST" action="/courses/





">
    <div>
        <h3>My courses deleted</h3>
        <a href='/me/stored/courses'>Back</a>
        <div class='mt-4 d-flex align-items-center'>
            <select
                name="actions"
                class='form-select form-control form-control-sm checkbox-select-all-options'
                aria-label='Default select example'
                required
            >
                <option value="" selected>Select actions</option>
                <option value='ForceDelete'>ForceDelete</option>
                <option value='2'>Two</option>
                <option value='3'>Three  

            <button class='btn btn-primary btn-sm disabled ms-4 btn-check-all-submit' type="submit">
                Excute
            </button>
        </div>
    <div class="form-check">
       
</div>
    </div>
    <div class='table-responsive'>
        <table class='table mt-4'>
            <thead>
                <tr>
                    <th scope='col'>
                        <div class='form-check'>
                    <input
                        class='form-check-input'
                        type='checkbox'
                        value=''
                        id='checkAllCheckbox'
                    />
                     <label
                        class='form-check-label me-3 ms-3'
                        for='checkAllCheckbox'
                    >
                    Select ALL
                    </label>
                    </div></th>
                    <th scope='col'>id</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Level</th>
                    <th scope='col '>Create Time</th>
                    <th scope='col '></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <th> 
                            <div class='form-check'>
                                <input
                                    class='form-check-input'
                                    type='checkbox'
                                    name='courseIds[]'
                                    value='{{this._id}}'
                                />
                            </div></td>
                            </th>
                        <th scope='row'>{{this._id}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.deletedAt}}</td>
                        <td>
                            <a
                                href='/courses/restore/{{this._id}}'
                                type='button'
                                class='btn btn-outline-primary btn-link btn-restore'
                                data-id='{{this._id}}'
                            >Restore</a>
                            <a
                                href='/courses/del/{{this._id}}'
                                type='button'
                                class='btn btn-outline-primary btn-link btn-force-delete'
                                data-bs-toggle='modal'
                                data-id='{{this._id}}'
                                data-bs-target='#delete-courses-modal'
                            >Force delete</a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan='5' class='text-center'>There are
                            no course deleted in trash
                            <a href='/me/stored/courses'>
                                Click here to List Course</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>

{{!-- {{confirm delte course}} --}}
<!-- Modal -->
<div
    class='modal fade'
    id='delete-courses-modal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Delete
                    courses</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                Are you want to force delete the course? The course will be deleted and cannot restore
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-bs-dismiss='modal'
                >Close</button>
                <button
                    type='button'
                    id='delete-btn'
                    class='btn btn-danger'
                >Delete</button>
            </div>
        </div>
    </div>
</div>
{{! Delete hidden form }}
<form method='POST' name='delete-course-form'></form>
{{! Delete hidden form }}
<form method='POST' name='delete-course-form'></form>
{{! Resotre hidden form }}
<form method='POST' name='restore-course-form'></form>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var restoreForm = document.forms['restore-course-form'];
    var exampleModal = document.getElementById('delete-courses-modal');
    var restoreBtn = $('.btn-restore');
     var checkboxAll = $('#checkAllCheckbox');
    var courseItemnCheckbox = $('input[name="courseIds[]"]');
    var checkAllSubmitBtn=$('.btn-check-all-submit')

    exampleModal.addEventListener('show.bs.modal', function (event) {
        var courseId = event.relatedTarget.getAttribute('data-id');
        var btnDeleteCourse = document.getElementById('delete-btn');
        btnDeleteCourse.onclick = () => {
            deleteForm.action =`/courses/forceDelete/${courseId}?_method=DELETE`;
            deleteForm.submit();
        };
    });
    //Restore 
    restoreBtn.click(function (e) {
        e.preventDefault(); 
        var courseId = $(this).data('id');
        restoreForm.action =`/courses/restore/${courseId}?_method=PATCH`; 
        restoreForm.submit();
    })
      checkboxAll.change(function(){
        var isCheckedAll=$(this).prop('checked')
        courseItemnCheckbox.prop('checked',isCheckedAll)
        renderCheckAllSubmitBtn()
    })
        function renderCheckAllSubmitBtn(){
        var checkedCount=$('input[name="courseIds[]"]:checked').length;
        if(checkedCount>0){
            checkAllSubmitBtn.removeClass('disabled')
        }else{
            checkAllSubmitBtn.addClass('disabled')
        }
    }
})

</script>