<div class='m-4 m-auto'>
    <div>
        <a href='/me/stored/courses'>Back</a></div>
    <h3>My courses deleted</h3>
    <div class='table-responsive'>
        <table class='table mt-4'>
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>Level</th>
                    <th scope='col '>Create Time</th>
                    <th scope='col '></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <th scope='row'>{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.level}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            <a
                                href='/courses/restore/{{this._id}}'
                                type='button'
                                class='btn btn-outline-primary btn-link btn-restore'
                            >Restore</a>
                            <a
                                href='/courses/del/{{this._id}}'
                                type='button'
                                class='btn btn-outline-primary btn-link btn-force-delete'
                                data-bs-toggle='modal'
                                data-id='{{this._id}}'
                                data-bs-target='#delete-courses-modal'
                            >Force delete</a>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan='5' class='text-center'>There are
                            no course deleted in trash
                            <a href='/me/stored/courses'>
                                Click here to List Course</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</div>

{{!-- {{confirm delte course}} --}}
<!-- Modal -->
<div
    class='modal fade'
    id='delete-courses-modal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Delete
                    courses</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                Are you want to delete the course?
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-bs-dismiss='modal'
                >Close</button>
                <button
                    type='button'
                    id='delete-btn'
                    class='btn btn-danger'
                >Delete</button>
            </div>
        </div>
    </div>
</div>
{{! Delete hidden form }}
<form method='POST' name='delete-course-form'></form>
<script>
document.addEventListener('DOMContentLoaded', () => {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var exampleModal = document.getElementById('delete-courses-modal');
    var restoreBtn = $('.btn-restore')
    console.log(restoreBtn)
    exampleModal.addEventListener('show.bs.modal', function (event) {
        var courseId = event.relatedTarget.getAttribute('data-id');
        var btnDeleteCourse = document.getElementById('delete-btn');
        btnDeleteCourse.onclick = () => {
            deleteForm.action =
                '/courses/delete/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        };
    });
})
 

</script>